@import "tailwindcss";
@config "../../tailwind.config.js";

/* SCROLLBAR */
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { background: var(--light); }

::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: var(--dark);
}
::-webkit-scrollbar-thumb:hover { background: var(--blue); }

/* HOME SECTIONS */
.stacked { @apply grid [grid-template-areas:'stack']; }
.stacked > * { @apply [grid-area:stack]; }

.section { @apply gap-5 flex flex-col items-center; }

/* ANIMATE */
.animate { @apply transform transition-all duration-700 ease-out; }