@import "tailwindcss";
@config "../../tailwind.config.js";

/* SCROLLBAR */
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: transparent; }

::-webkit-scrollbar-thumb {
    border-radius: none;
    background-color: var(--black);
}
::-webkit-scrollbar-thumb:hover { background: var(--green); }

/* HOME SECTIONS */
.stacked { @apply grid [grid-template-areas:'stack']; }
.stacked > * { @apply [grid-area:stack]; }

.section { @apply gap-5 flex flex-col items-center; }

/* ANIMATE */
.animate { @apply transform transition-all duration-700 ease-out; }