@import '../app/custom.css';

:root {
  --white: #FFF;
  --black: #000;
  --dark: #1E1E1E;
  --light: #E1E1E1;
}

@theme inline {
  --font-main: var(--font-montserrat);
  --font-title: var(--font-sofia-sans);
}

body {
  background: var(--white);
  color: var(--dark);
  font-family: Arial, Helvetica, sans-serif;
}
